@import "./theme.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

#Icon {
  color: var(--primary-font);
}

#Icon:hover {
  cursor: pointer;
  color: var(--secondary-accent);
}

/*App component*/

.app-container {
  display: grid;
  gap: 1rem;
}

@media (max-width: 480px) {
  .app-container {
    padding: 0 1rem;
  }
}

@media (min-width: 480px) {
  .app-container {
    padding: 0 clamp(1rem, 16%, 32rem);
  }
}

/*Navbar*/
.nav-option:hover {
  cursor: pointer;
}

/*Droplet*/
.tooltip-item {
  position: relative;
}
.tooltip-text {
  visibility: hidden;
  color: var(--primary-font);
  background-color: var(--primary-accent);
  opacity: 0;
  position: absolute;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  width: max-content;
  left: 100%;
  bottom: 100%;
  transition: opacity 0.1s ease-in-out;
}
.tooltip-item:hover .tooltip-text {
  visibility: visible;
  opacity: 90%;
}

/*Library*/
.lib-button-primary {
  background-color: var(--secondary-accent);
  transition: filter 0.1s ease;
  cursor: pointer;
}
.lib-button-primary:hover {
  filter: brightness(0.9);
}

.lib-button-secondary {
  background-color: var(--base-bg);
  transition: filter 0.1s ease;
  cursor: pointer;
}
.lib-button-secondary:hover {
  filter: brightness(0.9);
}

.lib-button-tertiary {
  background-color: var(--quaternary-accent);
  transition: filter 0.1s ease;
  cursor: pointer;
}
.lib-button-tertiary:hover {
  filter: brightness(0.9);
}

/*Animations*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
