@import "./theme.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

#Icon {
  color: var(--primary-font);
}

#Icon:hover {
  cursor: pointer;
  color: var(--secondary-accent);
}

/*App component*/

.app-container {
  display: grid;
  gap: 1rem;
}

@media (max-width: 480px) {
  .app-container {
    padding: 0 1rem;
  }
}

@media (min-width: 480px) {
  .app-container {
    padding: 0 clamp(1rem, 16%, 32rem);
  }
}

/*Navbar*/
.nav-option:hover {
  cursor: pointer;
}

/*Library*/
.lib-button-primary {
  background-color: var(--secondary-accent);
  transition: filter 0.1s ease;
  cursor: pointer;
}
.lib-button-primary:hover {
  filter: brightness(0.9);
}

.lib-button-secondary {
  background-color: var(--base-bg);
  transition: filter 0.1s ease;
  cursor: pointer;
}
.lib-button-secondary:hover {
  filter: brightness(0.9);
}
