@import "./theme.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

#Icon {
  color: var(--primary-font);
}

#Icon:hover {
  cursor: pointer;
  color: var(--secondary-accent);
}

.app-container {
  display: grid;
  gap: 1rem;
}

@media (max-width: 480px) {
  .app-container {
    padding: 0 1rem;
  }
}

@media (min-width: 480px) {
  .app-container {
    padding: 0 clamp(1rem, 16%, 32rem);
  }
}
