:root {
  /*Colors*/
  --base-bg: #F2F2F2;
  --primary-bg: #8C8C8C;
  --secondary-bg: #d0d0d7;
  --primary: #8C8C8C;
  --primary-lt: #404040;
  --border: #BFBFBF;
  --primary-font:#0D0D0D;
  --secondary-font:#404040;

  /*UI Elements*/
  --primary-border-rad: 1rem;
}

/*
| Element | Font Size (rem) | Font Size (px) |
|---------|-----------------|----------------|
| div     | 1rem            | 16px           |
| p       | 0.875rem        | 14px           |
| h3      | [Specify Size]  | [Specify Size] |
*/

p {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

h3 {
  font-size: 1.275rem;
}

input {
  background: transparent;
  outline: none;
  width: 16rem;
  height: 2rem;
  border: 1px solid var(--border);
  font-family: "Inter", serif;
  font-size: 0.875rem;
  padding: 0 0.25rem;
}

select {
  appearance: none; /* Removes default styling (e.g., arrow) */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  background: transparent url("./assets/chevron-down.svg") no-repeat right
    center;
  background-size: 1rem;
  outline: none;
  width: 16.58rem;
  height: 2rem;
  border: 1px solid var(--border);
  font-family: "Inter", serif;
  font-size: 0.875rem;
  padding: 0 0.25rem;
}

select option {
  font-family: "Inter", serif;
  font-size: 0.875rem;
}
