:root {
  /*Colors*/
  --base-bg: #fffff0;
  --primary-bg: #8c8c8c;
  --secondary-bg: #d0d0d7;
  --primary: #8c8c8c;
  --primary-lt: #404040;
  --border: #c5c4b6;
  --primary-font: #0d0d0d;
  --secondary-font: #404040;
  --primary-accent: #98fb98;
  --secondary-accent: #ff7f50;
  --tertiary-accent: hsla(16, 100%, 66%, 0.5);

  /*UI Elements*/
  --primary-border-rad: 1rem;
}

/*
| Element | Font Size (rem) | Font Size (px) |
|---------|-----------------|----------------|
| div     | 1rem            | 16px           |
| p       | 0.875rem        | 14px           |
| h3      | [Specify Size]  | [Specify Size] |
*/

html {
  background-color: var(--base-bg);
  font-family: "Inter", serif;
  color: var(--primary-font);
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0;
  margin: 0;
}

h4 {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: var(--tertiary-accent);
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

h3 {
  font-size: 1.275rem;
}

input {
  background: transparent;
  outline: none;
  width: 16rem;
  height: 2rem;
  border: 1px solid var(--border);
  font-family: "Inter", serif;
  font-size: 0.875rem;
  padding: 0 0.25rem;
  border-radius: 0.5rem;
}

select {
  appearance: none; /* Removes default styling (e.g., arrow) */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  background: transparent url("./assets/chevron-down.svg") no-repeat right
    center;
  background-size: 1rem;
  outline: none;
  width: 16.58rem;
  height: 2rem;
  border: 1px solid var(--border);
  font-family: "Inter", serif;
  font-size: 0.875rem;
  padding: 0 0.25rem;
  border-radius: 0.5rem;
}

select option {
  font-family: "Inter", serif;
  font-size: 0.875rem;
}
