:root {
  /*Colors*/
  --base-bg: rgb(216, 210, 210);
  --primary-bg: rgb(233, 233, 237);
  --secondary-bg: #d0d0d7;
  --primary: green;
  --primary-lt: rgb(175, 202, 175);
  --border: gray;

  /*UI Elements*/
  --primary-border-rad: 0.5rem;
}

/*
| Element | Font Size (rem) | Font Size (px) |
|---------|-----------------|----------------|
| div     | 1rem            | 16px           |
| p       | 0.875rem        | 14px           |
| h3      | [Specify Size]  | [Specify Size] |
*/

p {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
}

h3 {
  font-size: 1.275rem;
}
